.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    width: 80%;
    height: 500px;
    border: 2px solid #ccc;
    position: relative;
    background: #f0f0f0;
}

.map-container img {
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    max-width: none;
    width: 50%; /* immagine inizialmente più piccola */
    height: auto;
    cursor: grab;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease;
}

.map-container img.dragging {
    cursor: grabbing;
}