
.image-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-container img {
    max-height: 350px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 20px;
}

h1 {
    color: #aa0000;
}
