:root {
  --bg: #1e1e2f;
  --text: #e4e4e7;
  --accent: #ffb86c;
  --secondary: #8be9fd;
  --overlay: #6272a4;
  --alert: #ff5555;
  --gap: 20px;
}

    
.image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: var(--gap);      
}

.image-container img {
    max-height: 350px;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    margin: 20px;
}

h1 {
    color: var(--text);
    text-align: center;
    
}


